<div class="single-product-area section-padding-100 clearfix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="single_product_thumb">
          <div id="product_details_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                  <%= image_tag @photo.image_url.url, class:"d-block w-100" %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="single_product_desc">
          <div class="product-meta-data">
            <div class="line"></div>
            <a href="product-details.html">
              <% @cate_photos = @photo.cate_photos %>
              <% @cate_photos.each do |cate_photo| %>
                <% category = cate_photo.category %>
                <%= link_to category.name, category_path(category) %>
              <% end %>
            </a>
            <h6><%= @photo.title %></h6>
            <!-- Ratings & Review -->
            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
              <div class="ratings">
                <%= rating_for @photo, "price", star: 5, disable_after_rate: true %>
              </div>
            </div>
            <!-- Avaiable -->
          </div>
          <div class="short_overview my-5">
            <p><%= @photo.description.html_safe %></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <% if user_signed_in? %>
          <div id="comment_form">
            <%= render "comments/comment_form" %>
          </div>
        <% end %>
          <div id="comments-list" data-remote=true>
            <%= render partial: "comments/comments", object: @comments %>
          </div>
          <%= paginate @comments, theme: 'twitter-bootstrap-3' %>
      </div>
    </div>
  </div>
</div>
