<p>
  <%= t("devise.mailer.email.email_changed.title") %>
  <%= @resource.email %>
</p>
<p>
  <%= t("devise.mailer.email.reset_password_instructions.content1") %>
</p>
<p><%= link_to t("devise.mailer.email.reset_password_instructions.change"), edit_password_url(@resource, reset_password_token: @token) %></p>
<p>
  <%= t("devise.mailer.email.reset_password_instructions.content2") %>
</p>
<p>
  <%= t("devise.mailer.email.reset_password_instructions.content3") %>
</p>
